<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <h1>Welcome to Node JS!</h1>
    <form action="/person" method="post">
        First name: <input type="text" name="firstName" id="firstName" />
        Last name: <input type="text" name="lastName" id="lastName" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>